<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>company_name</key>
		<string>Cisco systems</string>
		<key>company_logo</key>
		<string>cisco_logo.png</string>
		<key>stock_sign</key>
		<string>CSCO</string>
		<key>stock_price</key>
		<real>24.38</real>
	</dict>
	<dict>
		<key>company_name</key>
		<string>Microsoft Co.</string>
		<key>stock_sign</key>
		<string>MSFT</string>
		<key>stock_price</key>
		<real>32.79</real>
		<key>company_logo</key>
		<string>microsoft_logo.png</string>
	</dict>
	<dict>
		<key>stock_price</key>
		<integer>27</integer>
		<key>company_logo</key>
		<string>Yahoo!_logo.png</string>
		<key>company_name</key>
		<string>Yahoo! Inc.</string>
		<key>stock_sign</key>
		<string>YHOO</string>
	</dict>
	<dict>
		<key>stock_price</key>
		<real>34.05</real>
		<key>company_logo</key>
		<string>aol_logo.png</string>
		<key>company_name</key>
		<string>AOL, Inc.</string>
		<key>stock_sign</key>
		<string>AOL</string>
	</dict>
	<dict>
		<key>stock_price</key>
		<real>850.15</real>
		<key>company_logo</key>
		<string>google_logo.png</string>
		<key>company_name</key>
		<string>Google Inc.</string>
		<key>stock_sign</key>
		<string>GOOG</string>
	</dict>
</array>
</plist>
